@import './colorscheme.scss';

.logo{
	height:75px;
}
.header{
	background-color: $color_main;
}

a { color:#ff6ec7;
	text-decoration:none;
	font-size: 20px;
	}
	
a:hover {
	color:#000000;
	text-decoration : none;
	}